n8n-github-webhook.json
{
  "name": "APEX Trading Bot - GitHub Auto-Pull",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apex-trading-git-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "apex-trading-pull"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://fexon.app.n8n.cloud/webhook/apex-trading-git-pull",
        "options": {
          "response": {
            "response": {
              "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Git pull executed\",\n  \"commit\": \"{{ $json.after }}\",\n  \"branch\": \"{{ $json.ref }}\"\n}"
            }
          }
        }
      },
      "id": "http-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "cd /data/.openclaw/workspace/projects/apex-trading && git pull origin main"
      },
      "id": "exec-git-pull",
      "name": "Execute Git Pull",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ref }}",
              "operation": "contains",
              "value2": "refs/heads/main"
            }
          ]
        }
      },
      "id": "filter-main-branch",
      "name": "Only Main Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "text": "🔄 *APEX Trading Bot Update*\n\n✅ Git Pull erfolgreich!\n\n**Commit:** `{{ $node[\"GitHub Webhook\"].json[\"after\"].substring(0, 7) }}`\n**Author:** {{ $node[\"GitHub Webhook\"].json[\"pusher\"][\"name\"] }}\n**Message:** {{ $node[\"GitHub Webhook\"].json[\"head_commit\"][\"message\"] }}\n\n**Files changed:** {{ $node[\"GitHub Webhook\"].json[\"head_commit\"][\"modified\"].length }} modified, {{ $node[\"GitHub Webhook\"].json[\"head_commit\"][\"added\"].length }} added\n\nÄnderungen sind live!",
        "chatId": "8154479430"
      },
      "id": "telegram-notification",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 450],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Only Main Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Main Branch": {
      "main": [
        [
          {
            "node": "Execute Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Git Pull": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
